@{
  Layout = "_Layout";
}
<form action="/vendors" method="post">
  <label for="name">Enter vendor name:</label>
  <input type="text" id="name" name="name">
  <label for="description">Enter vendor description:</label>
  <input type="text" id="description" name="description">
  <button type="submit">Create vendor</button>
</form>