@{
  Layout = "_Layout";
}
<h2>List of all vendors:</h2>
@using PierresVendors.Models;
@foreach (Vendor v in Model)
{
  <div class="vendor">
    <h2>Name: @v.Name</h2>
    <p>Description: @v.Description</p>
    <a href="/vendors/@v.Id">View more info on this vendor</a>
  </div>
}
<a href="/vendors/new">Click here to create a new Vendor entry</a>