@{
  Layout = "_Layout";
}
<h2>List of all vendors:</h2>
@using PierresVendors.Models;
@foreach (Vendor v in Model)
{
  <div class="vendor">
    <a href="/vendors/@v.Id"><h2>Vendor: @v.Name</h2></a>
    <p>Description: @v.Description</p>
  </div>
}
<a href="/vendors/new">Click here to create a new Vendor entry</a>