@{
  Layout = "_Layout";
}
<h2>List of all vendors:</h2>
@using PierresVendors.Models;
@foreach (Vendor v in Model)
{
  <div class="vendor">
    <h2>@v.Name</h2>
    <h2>@v.Description</h2>
    <a href="/vendors/@v.Id">View more info on this vendor</a>
  </div>
}
<a href="/vendors/new">Click here to create a new Vendor entry</a>