@{
  Layout = "_Layout";
}
<h2>New order creation form:</h2>
<form action="/vendors/@Model/orders" method="post">
  <label for="title">Enter title of order:</label>
  <input type="text" id="title" name="title">
  <label for="description">Enter description:</label>
  <input type="text" id="description" name="description">
  <label for="price">Enter price:</label>
  <input type="text" id="price" name="price">
  <label for="date">Enter date:</label>
  <input type="text" id="date" name="date">
  <button type="submit">Create order for Vendor Id @Model</button>
</form>