@{
  Layout = "_Layout";
}
<div class="vendor">
  <h2>More info about this vendor:</h2>
  <h3>Name: @Model.Name</h3>
  <h3>Description: @Model.Description</h3>
  <h3>Id: @Model.Id</h3>
  <a href="/vendors/@Model.Id/orders">View orders from this vendor</a>
</div>
<a href="/vendors">Back to view all vendors</a>