@{
  Layout = "_Layout";
}
@using PierresVendors.Models;
@foreach (Order o in Model.Orders)
{
  <div class="order">
    <h2>Title: @o.Title</h2>
    <h2>Description: @o.Description</h2>
    <h2>Price: @o.Price</h2>
    <h2>Date: @o.Date</h2>
  </div>
}
<a href="/vendors/@Model.Id/orders/new">Click here to create a new order entry for this vendor.</a><br>
<a href="/vendors/@Model.Id">Or, click here to go back to this vendor's info</a>